.container {
    margin-left: 170px;
  }

  .heading {
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .row-button {
    margin-top: 20px;
  }
  
  .btn-send-email {
    width: 100%;
  }
  