.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px; 
  height: 100vh; 
  background-color: #73767949; /* Light gray background color */
}

.sidebar-heading {
  padding: 10%;
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6; /* Gray border on the bottom */
}

.flex-column {
  font-size: 1.3rem;
  text-align: center;
}

.sidebar-link {
  padding: 10px;
  color: #2c3034; /* Dark gray text color */
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #e9ecefce; /* Light gray background color on hover */
}
